@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day&display=swap');

/*font-family: 'Dawning of a New Day', cursive;*/

body {
  background: white;
  color: black;
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 80vw;
  /*height: 100vh;*/
  margin: 0 auto;
}
