/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day&display=swap');

/*Colors*/
:root {
  --black: #020422;
  --grey: #5D5b6A;
}

/*Body, default*/

html, body {
  background: white;
  color: var(--black);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
}


/*Navbar*/

#mobile-menu {
  display: none;
}

#navbar{
  position: fixed;
  top: 0;
  height: 190px;
  width: 100vw;
  padding: 10px 0 5px 0;
  margin: 0;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

#logo img {
  width: 230px;
  height: auto;
}

.navbar-element, .navbar-about {
  position: relative;
  width: 71px;
}

.left {
  margin-left: 13.5vw;
}

.right {
  margin-right: 13.5vw;
}

.line {
  width: 1px;
  height: 117px;
  border-left: 4px solid var(--black);
  position: absolute;
  top: -358%;
  left: -19%;
}

.line-no-display {
  display: none;
}

.navbar-element-text {
  color: var(--black);
}

.navbar-element-text:hover {
  color: var(--grey);
}


/*Container*/

.main{
  margin-top: 200px;
  margin-bottom: 100px;
  padding-top: 120px;
}

.container {
  width: 75vw;
  min-height: 100vh;
  margin: 0 auto;
}


/*Main content*/

/*All pages*/

h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 55px;
}

h3 {
  font-family: 'Dawning of a New Day', cursive;
  font-size: 55px;
  line-height: 55px;
  font-weight: normal;
  margin-bottom: 20px;
}

/*Index page*/

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.katell {
  font-family: 'Dawning of a New Day', cursive;
  font-size: 65px;
}

.katell-picture {
  width: 300px;
  height: 300px;
  border-radius: 6px;
  box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.25);
}

.who-i-am {
  margin-top: 150px;
}

.what-i-can-do {
  text-align: right;
  margin-top: 80px;
  margin-bottom: 120px;
}

.stack-and-tools {
  margin-bottom: 70px;
}

.stack-and-tools .stack-list {
  display: flex;
  flex-direction: column;
}

.sub-stack-list {
  display: flex;
  margin-bottom: 30px;
}

.sub-stack-list .stack {
  margin-right: 40px;
}

.hire-me {
  background: var(--black);
  padding: 16px 40px;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  border: none;
  transition: 0.3;
}

.hire-me:hover {
  background: var(--grey);
}

.hire-me a {
  color: white;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}


/*Work page*/

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}

.picture-left .project-picture {
  margin-right: 90px;
}

.picture-right .project-picture {
  margin-left: 90px;
}

.project-picture {
  width: 500px;
  height: auto;
  box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.project-text p {
  font-size: 16px;
}

.stack-list {
  display: flex;
  margin: 24px 0 8px 0;
}

.stack {
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack img {
  height: 35px;
  width: auto;
  margin-bottom: 6px;
}

.stack p {
  font-size: 14px;
  color: var(--grey);
}

.visit-site-button,
.see-code-button {
  padding: 8px 20px;
  border-radius: 4px;
  transition: 0.3;
}

.visit-site-button {
  background: var(--black);
  border: 1px solid var(--black);
}

.see-code-button {
  background: white;
  border: 1px solid var(--black);
  margin-left: 16px;
}

.visit-site-button:hover,
.see-code-button:hover {
  background: var(--grey);
  border: 1px solid var(--grey);
}

.visit-site-button a,
.see-code-button a {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.visit-site-button a {
  color: white;
}

.see-code-button a {
  color: var(--black);
}

.see-code-button:hover a {
  color: white;
}

.fa-github-alt {
  margin-right: 8px;
}


/*Journey page*/

.cv-section .fas {
  font-size: 28px;
  margin-right: 12px;
}

.cv {
  display: flex;
  flex-direction: column;
}

.cv-section {
  margin-bottom: 100px;
}

.section-right {
  text-align: right;
}

.cv-section h3 {
  margin-bottom: 45px;
}

.skills {
  display: flex;
  text-align: right;
  justify-content: flex-end;
}

.skills h4 {
  font-size: 18px;
  font-weight: bold;
}

.skills-soft {
  margin-right: 24px;
}

.job-title, .diploma {
  font-weight: bold;
  margin-bottom: 0;
}

.company-dates {
  margin-bottom: 10px;
}

.job, .school-dates {
  margin-bottom: 50px;
}

.tasks {
  padding-left: 0;
}


/*Contact page*/

.contact-card {
  box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 50px;
  width: 350px;
  margin: 0 auto;
}

.contact-info a {
  color: var(--black);
}

.contact-info a:hover {
  color: var(--grey);
}

.contact-info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.contact-info:last-of-type {
  margin-bottom: 0;
}

.contact-info p {
  margin-bottom: 0;
}

.contact-icon {
  margin-right: 24px;
  font-size: 24px;
}


/*Footer*/

footer {
  margin-top: -100px;
  padding-top: 150px;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.footer-links li {
  margin: 0;
}

.social {
  font-size: 35px;
  margin: 0 28px;
  color: var(--black);
  transition: 0.3;
}

.footer-links li:last-of-type .social{
  font-size: 30px;
}

.social:hover {
  color: var(--grey);
}

.footer-copyright {
  text-align: center;
  margin: 24px 0 32px 0;
}


/*-RESPONSIVE---------------------------------------------------------------------------------------

/*Responsive for mobile*/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  /*All pages*/

  #navbar {
    display: none;
  }

  #mobile-menu {
    display: inline-block;
    position: fixed;
    top: 0;
    height: 96px;
    width: 100vw;
    background: white;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
  }

  .dropdown-toggle::after {
    display: none;
  }

  #dropdownMenu i {
    font-size: 40px;
    color: var(--black);
    position: absolute;
    top: 35px;
    left: 30px;
  }

  .dropdown-item.active {
    background: var(--black);
  }

  #mobile-menu #logo {
    position: absolute;
    top: 16%;
    right: 6%;
  }

  #logo img {

    height: 80px;
    width: auto;
  }

  .main{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 95px;
  }

  .container {
    width: 90%;
  }

  .footer-links li a {
    font-size: 26px;
  }

  .footer-links li:last-of-type .social{
    font-size: 24px;
  }


  /*Index page*/

  .katell-picture {
    width: 200px;
    height: 200px;
    margin-top: 50px;
  }

  .intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  }


  /*Work page*/

  .buttons {
    width: 70%;
    display: flex;
    flex-flow: column;
    margin: 24px auto 0 auto;
  }

  .see-code-button {
    margin-top: 16px;
    margin-left: 0;
  }

  .project-text {
    width: 88%;
  }

  .stack-list {
    flex-wrap: wrap;
  }


  /*Journey page*/

  .skills {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: flex-end;
  }

  .skills-soft {
    margin-right: 0;
    margin-bottom: 20px;
  }


  /*Contact page*/

  .contact-card {
    padding: 20px;
    width: 290px;
    margin: 0 auto;
  }

  .contact-info a {
    color: var(--black);
  }

  .contact-info a:hover {
    color: #757575;
  }

  .contact-info {
    margin-bottom: 30px;
  }
}


/*Responsive for mobile and tablet*/

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {

  /*index page*/
  .stack-and-tools .stack-list .sub-stack-list {
    flex-wrap: wrap;
  }


  /*Work page*/

  .project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
  }

  .picture-right {
    flex-direction: column-reverse;
  }

  .project-picture {
    height: 200px;
    width: auto;
    margin: 0 0 30px 0;
  }

  .picture-left .project-picture {
    margin-right: 0px;
  }

  .picture-right .project-picture {
    margin-left: 0px;
  }

  .button-project {
    margin: 20px auto;
    display: block;
  }
}


/*Responsive for tablet*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  /*Index page*/

  .katell-picture {
    margin-left: 50px;
  }
}
