/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day&display=swap');


/*Body, default*/

body {
  background: white;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}


/*Links, default*/

a {
  color: black;
  text-decoration: none;
}


/*Navbar*/

#navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8.5vw;
  margin-bottom: 70px;
}

#logo {
  position: relative;
  width: 202px;
  margin-left: 22px;
}

#circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 5px solid black;
  background: white;
}

h1 {
  margin: 0;
  font-family: 'Dawning of a New Day', cursive;
  font-size: 55px;
  line-height: 32px;
  font-weight: normal;
  position: absolute;
  top: 36%;
  left: -11%;
  background: white;
  padding-bottom: 14px;
}

/*Container*/

.main{
  margin-bottom: 100px;
}

.container {
  width: 80vw;
  min-height: 100vh;
  margin: 0 auto;
}


/*Main content*/

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 55px;
}

.katell {
  font-family: 'Dawning of a New Day', cursive;
  font-size: 65px;
}

.katell-picture {
  width: 300px;
  height: 300px;
  border-radius: 6px;
  box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.25);
}

h3 {
  font-family: 'Dawning of a New Day', cursive;
  font-size: 55px;
  line-height: 55px;
  font-weight: normal;
  margin-bottom: 20px;
}

.who-i-am {
  margin-top: 150px;
}

.what-i-can-do {
  text-align: right;
  margin-top: 80px;
}


/*Footer*/

footer {
  margin-top: -100px;
  padding-top: 150px;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.footer-links li {
  margin: 0;
}

.social {
  font-size: 35px;
  margin: 0 28px;
}

.social:hover {
  color: #757575;
}

.footer-copyright {
  text-align: center;
  margin: 24px 0 32px 0;
}

